body{
	background-color: #b7d1c4
}
h1{
	color: grey;
}



#container {
	/*setting width to  700px */
  width: 700px;
  margin: 0 auto;
}


.sec{
	color: green;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;;
}
input {
  display: inline-block;
  float: left;
}
ol{
	font-family: sans-serif;
	font-size: 16px;
}
